.App {
   width: 550px;
   min-height: 200px;
   background-color: rgba(255, 255, 255, 0.1);
   border: 1px solid rgba(255, 255, 255, 0.1);
   border-radius: 8px;
}

.App header,
.App .content {
   padding: 15px;
}

.App header {
   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   h1 {
      font-size: 26px;
   }
   p {
      font-size: 16px;
      margin-top: 5px;
   }
}

.App .content {
   h2.question {
      font-size: 18px;
   }
   .buttons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
      .answer {
         width: calc(50% - 10px);
         outline: none;
         border: 1px solid rgba(255, 255, 255, 0.1);
         font-family: 'Rubik', sans-serif;
         background-color: transparent;
         color: #fff;
         cursor: pointer;
         border-radius: 8px;
         padding: 16px;
         font-size: 17px;
         transition: 0.3s;
         &:hover {
            background-color: rgba(255, 255, 255, 0.1);
         }
      }
      .active {
        border: 1px solid rgb(247, 68, 127);
        color: rgb(247, 68, 127);
        &:hover {
            background-color: transparent;
        }
      }
   }
}

a {
   color: rgb(247, 68, 127);
}

hr {
   height: 1px;
   margin: 15px 0;
   border: 0;
   background-color: rgba(255, 255, 255, 0.1);
}

.center {
   width: 100%;
   margin-top: 15px;
   display: grid;
   place-content: center;
}

.submit {
   outline: none;
   border: 1px solid rgba(255, 255, 255, 0.1);
   font-family: 'Rubik', sans-serif;
   background-color: transparent;
   color: #fff;
   cursor: pointer;
   border-radius: 8px;
   padding: 10px 13px;
   font-size: 15px;
   transition: 0.4s;
   &:hover {
      background-color: rgba(255, 255, 255, 0.1);
   }
   &:disabled {
      cursor: not-allowed;
      color: rgba(255, 255, 255, 0.1);
      &:hover {
         background-color: transparent;
      }
   }
}

.not_quiz {
   width: 100%;
   height: 100%;
   display: grid;
   place-items: center;
}

.not_quiz button {
   padding: 13px 20px;
   outline: none;
   font-size: 16px;
   margin-top: 10px;
   border: 1px solid rgba(255, 255, 255, 0.1);
   border-radius: 8px;
   background-color: transparent;
   color: #fff;
   transition: .3s;
   cursor: pointer;
   &:hover{
      background-color: rgba(255, 255, 255, 0.1);
   }
}